.page-asset-list {

//  width: 1000px;
  .asset-group {
    margin: 5px auto;
  }

  .asset-header {
    font-weight: bold;
  }

  .asset-list {
    overflow-y: scroll;
    height: (10+1)*35px;
  }

  .asset-item {
    //border-bottom: 1px solid lightgray;
  }

  .asset-attribute {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    width: 20%;
    text-align: center;
  }

  .tab-group {
    margin-top: 5px;
  }
}
